.plantInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
 }

table {
    border-spacing: 0;
    border: 1px solid black;
}

th,
td {
    margin: 0;
    padding: 0.5rem;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

#hiddenCard1 {
    position: fixed;
    visibility: hidden;
    background: white;
}

#revealedCard1 {
    visibility: visible;
    position: fixed;
    margin: 50px 50px;
    background: white;
}
