.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #839c8e;

 }

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #acbcb2;
    box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    margin: 50px;
    padding: 20px;
    border-radius: 25px;

}
